﻿@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@model IWiemTo.Models.V_DashboardQuizQuestions;
@{ 

    var typ = Model.QuestionExtended == 0 ? "podstawa" : "rozszerzenie";
    var nr = 1;
}


<div class="container-fluid">


    <div class="row questionInfo">
        <div class=" col-md-11  colQuestionInfo">

            <table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">

                <tr>
                    <td>Pytanie nr:</td>
                    <td style="padding-left:5px;color:blue">@Model.QuestionID</td>
                </tr>
                <tr>
                    <td>Pytanie tryb:</td>
                    <td style="padding-left:5px;">@Model.TypeName</td>
                </tr>
                <tr>
                    <td>Kategoria:</td>
                    <td style="padding-left:5px;">@Model.CategoryName</td>
                </tr>
                <tr>
                    <td>Tematyka :</td>
                    <td style="padding-left:5px;">@Model.SubCategoryName</td>
                </tr>
                <tr>
                    <td>Max liczba punktów:</td>
                    <td style="padding-left:5px;">@string.Format("{0} pkt.", @Model.QuestionPoints)</td>
                </tr>
                <tr>
                    <td>Rodzaj pytania:</td>
                    <td style="padding-left:5px;">@typ</td>
                </tr>
            </table>
            <br />
        </div>
    </div>

    <!-- treść pytania-->
    <div class="row questionText">
        <div class=" col-md-12  colQuestionText">
            <i class="fa fa-comments fa-2x"></i>
            <p id="@string.Format("{0}{1}", "Pytanie", 1)">@Html.Raw(Model.QuestionText)</p>
        </div>
    </div>


    @if (@Model.QuestionsImageRel1.Count != 0)
    {
        if (@Model.QuestionsImageRel1.FirstOrDefault().Image != null)
        {
            <div class="row">
                <img style="background-color:red; width:75%;" src="~/images/Question/Image/@Model.QuestionsImageRel1.FirstOrDefault().Image" alt="" />
            </div>
        }
    }
    <br />
    <div class="row subQuestion">
        

            @foreach (var choice in @Model.QuestionsChooseRel)
            {

                if (Model.TypeID == 1)
                { 
                    <div class="col-md-10 col-md-offset-1 colSubQuestion" style="margin-top:10px;height:50px">
                    <label class="radio-inline">
                        <input type="radio" name="@string.Format("Quest_{0}",@nr)" value="@choice.ChoiceText" />@choice.ChoiceText
                    </label>
                    </div>

                }

                if (Model.TypeID == 2)
                { 
                    <div class="col-md-10 col-md-offset-1 colSubQuestion" style="margin-top:10px;height:50px">
                        <label class="mycheckboxes_labels">
                            <input  name="@string.Format("Quest_{0}",@nr)" type="checkbox" value="@choice.ChoiceText" /> @choice.ChoiceText
                        </label><br />                       
                    </div>

                }

                  if ((Model.TypeID == 4) || (Model.TypeID == 3))
                { 
                   
                    <div class="col-md-10 col-md-offset-1 colSubQuestion" style="margin-top:10px;height:50px">
                        <div id="@string.Format("Div_textarea{0}",@nr)" class="form-group purple-border">


                            @nr.
                            <label style="font-size: 1.5rem;font: normal  Tahoma, Geneva, sans-serif" ; for="exampleFormControlTextarea4"> </label>
                            @Html.Raw(@choice.ChoiceText)  <i class="fa fa-question fa-1x"></i>
                        </div>                  
                    </div>
                     nr++;
                }

            }
        
    </div>

</div>

   
