﻿@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@model IEnumerable<IWiemTo.Models.V_DashboardQuizTopQuestions>

<div class="list-group">

    @foreach (var item in Model)
    {
        <a href="#XXX" class="list-group-item" id="PPP">
            <div class="row">
                <div style="display: inline-block">

                    <span style="margin-left: 5px;color:maroon"> @string.Format("({0})", @item.QuestionCount)</span>

                </div>

            </div>
            <div class="row">
                <div style="display: inline-block">
                    <span style="margin-left: 5px;color:black"> @string.Format("{0}", @item.TypeName)</span>
                </div>


            </div>
            <i class="fa fa-comments fa-1x"></i>
            <span style="margin-left: 1px;text-align: justify;font-size:smaller">@Html.Raw(@item.QuestionText) </span>

        </a>
        <a href="#" id="YYY" class="viewDetailsQuestion" data-type="customers">
            <div class="panel-footer">
                <span class="pull-left-DetailQuestion" data-questionID=@item.QuestionID>Szczegóły</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
            </div>
        </a>
        <br />      
    }

</div>
