﻿@model IEnumerable<IWiemTo.Models.V_DashboardQuizTopResults>


<div class="list-group">

    @foreach (var item in Model)
    {
    <a href="#XXX" class="list-group-item" id="PPP">
        <div style="display: inline-block;width: 65px;">
            <img class="rounded img-circle" src="@string.Format("images/Question/{0}", "trophy.png")" alt="" style="width:22px; height:23px;" />
            @string.Format("{0}% ", @item.Procent)
        </div>
        <span> @string.Format("{0}: {1}", "Data", @item.QuizCreateDate.ToString("dd-MM-yyyy hh:mm")) </span>
        <span style="margin-left: 15px;" title="Liczba pytań w quizie"> @string.Format("({0})", @item.QuizQuestionCount) </span>
        <span style="margin-left:5px; color:forestgreen;" title="Liczba pytań z pozytywną odpowiedzią">@item.QuestionsCountPositive</span>
        <spna style="margin-left:1px; color:darkred"  title="Liczba pytań z negatywną odpowiedzią">@item.QuestionsCountNegative</spna>
        <div class="row">

            <div class="col-lg-11 col-md-11">
                <span style="margin-left: 70px;"> @string.Format("{0}: {1}", "Tryb", @item.QuizModeName)</span>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-10 col-md-10">
                <span style="margin-left: 70px;"> @string.Format("{0}: {1}", "Opis", @item.QuizDescribe) </span>
            </div>
        </div>


    </a>
    }

</div>
