﻿@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@model IEnumerable<IWiemTo.Models.V_DashboardQuizTopSubCategory>

    <div class="list-group">

        @foreach (var item in Model)
    {
        <a href="#" class="list-group-item" id="PPP">
            <div class="row">
                <div style="display: inline-block">
                    @{
                        if ( @item.SubCategoryImage!=null )
                        {
                            <img src="@string.Format("{0}{1}", Url.Content("/images/Question/"), @item.SubCategoryImage)" class="img-circle" style="width: 13%; margin-left:5%" />
                        }
                    }
                    <span style="margin-left: 5px;color:black"> @string.Format("Kategoria: {0}", @item.SubCategoryName)</span>
                    <br />
                    <span style="margin-left: 5px;color:maroon"> @string.Format("Liczba wykonanych pytań: ({0})", @item.QuestionCount)</span>
                </div>
            </div>   
        </a>
      
        <br />
    }

    </div>

