﻿
@{
    ViewData["Title"] = "Edytor pytań";
}

<h2>Edytor pytań @ViewBag.areaName</h2>

<div id="container">
    <br />
    <span hidden id="Area">@ViewBag.areaName</span>
    <div class="btn-group">
        <button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle">Nowe pytanie <span class="caret"></span></button>
        <ul id="questionTypeDropdown" class="dropdown-menu"></ul>
    </div>
    <br />
    <br />
    <br />

    <div style="width:100%; margin:0 auto;">
        <table id="TableQuestions" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr class="clickable-row">
                    <th>QuestionID</th>
                    <th>QuestionText</th>
                    <th>QuestionShortDescribe</th>
                    <th>QuestionTypeContent</th>
                    <th>CategoryName</th>
                    <th>SubCategoryName</th>
                    <th>QuestionPoints</th>
                    <th>QuestionSource</th>
                    <th>TypeName</th>
                    <th>Edytuj</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="~/lib/DataTables/datatables.min.js"></script>
    <link type="text/css"  href="~/lib/DataTables/datatables.min.css" rel="stylesheet" />
    <script src="~/js/editor.js" asp-append-version="true"></script>

}

