﻿@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<div id="container" style="margin-top:20px">    
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading"><i class="fa fa-comments fa-1.5x fa-align-justify"></i> <strong>ZGŁOSZENIA użytkowników</strong> </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <table id="TableComments" class="table table-striped table-bordered table table-dark">
                        <thead class="alert alert-info">
                            <tr>
                                <th>DateCreate</th>
                                <th>DateUpdate</th>
                                <th>UserName</th>
                                <th>Status</th>
                                <th>CommentsType</th>
                                <th>QuestionText</th>
                            </tr>
                        </thead>                       
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
    {
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="~/lib/DataTables/DataTables-1.10.18/js/jquery.dataTables.min.js"></script>
    <link href="~/lib/DataTables/DataTables-1.10.18/css/jquery.dataTables.min.css" rel="stylesheet" />
}
