﻿@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@model IEnumerable<IWiemTo.Models.QuestionsGeneralInfo>

<div class="row">
    <div class="col-md-4 col-md-offset-1">
        <!-- /.panel -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fas fa-database fa-fw"></i> Baza pytań z Biologii
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item ">
                        <span class="badge">@Model.ElementAt(0).AllCount</span>
                        łączna liczba pytań
                    </li>
                    <li class="list-group-item">
                        <span class="badge">@Model.ElementAt(0).BasicCount</span>
                        poziom podstawowy
                    </li>
                    <li class="list-group-item">
                        <span class="badge">@Model.ElementAt(0).ExtendedCount</span>
                        poziom rozszerzony
                    </li>
                    <li class="list-group-item">
                        <span class="badge">@Model.ElementAt(0).UpdateDate.ToString("dd-MM-yyyy")</span>
                        data ostatniej aktualizacji
                    </li>
                </ul>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->

    </div>
    <div class="col-md-4">

        <!-- /.panel -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fas fa-database fa-fw"></i> Baza pytań z Historii
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="badge">@Model.ElementAt(1).AllCount</span>
                        łączna liczba pytań
                    </li>
                    <li class="list-group-item">
                        <span class="badge">@Model.ElementAt(1).BasicCount</span>
                        poziom podstawowy
                    </li>
                    <li class="list-group-item">
                        <span class="badge">@Model.ElementAt(1).ExtendedCount</span>
                        poziom rozszerzony
                    </li>
                    <li class="list-group-item">
                        <span class="badge">@Model.ElementAt(1).UpdateDate.ToString("dd-MM-yyyy")</span>
                        data ostetniej aktualizacji
                    </li>
                </ul>
            </div>
            <!-- /.panel-body -->
        </div>
      
    </div>
</div>

