﻿@{
    ViewData["Title"] = "O programie";
}
<h2>@ViewData["Title"]</h2>


<p style="font-size:20px;color:red"> <img src="~/images/Question/IWiemTo.png" /> IWiemTo wersja 2.000</p>

    <p class="well">
        <strong>IWiemTo | zadania online</strong> to baza pytań  z Biologii i Historii. <br />
        Jeśli jesteś uczniem szkoły podstawowej lub średniej ucz się i sprawdź Swoją wiedzę z naszym programem
    </p>

<p class="well">
    
    Dzięki <strong>IWiemTo | zadania online</strong> możesz sprawdzić Swoja wiedzę wybierajac jeden z trzech trybów nauki: <br />
    <ul>
        <li> <strong>tryb nauki </strong></li>
        <li> <strong>tryb sprawdzianu</strong></li>
        <li> <strong>tryb matura </strong>( jeszcze niedostępny )</li>
    </ul>
    <br />
    <div  style="text-align: justify; text-justify: inter-word; margin-left:3%">
        <strong>Tryb nauki → </strong> pozwala na wybranie pytań z różnych kategorii, podanie liczby pytań oraz wybór trudności pytań: podstawowego lub rozszerzonego.
    Dodatkowo możesz wybrać pytania z zakresu szkoły podstawowej lub średniej. System autaomtycznie sparwdza poprawność Twoich odpowiedzi. Jeżeli
    odpowiedziałeś błędnie możesz sprawdzić, jaka jest poprawna odpowiedź
        </div>
</p>

<input id="Button1" type="button" value="button" onclick="Hello()" />

@section Scripts
    {
    <script type="text/javascript" src="~/js/test.js"></script>

}
