﻿@{
    ViewData["Title"] = "Kontakt";
}
<h2>@ViewData["Title"]</h2>

<div class="well">
    <strong>Autorzy:</strong><br/></br>
    <ul>
        <li><address>
    Mirosław Kamiński<br />
    Bydgoszcz, Altanowa 24/36<br />
    <abbr title="Telefon"></abbr>
</address></li>
        <li>
            <address>
                Paweł Łosiński<br />
                Bydgoszcz, Wyzwolenia<br />
                <abbr title="Telefon"></abbr>

            </address>
        </li>
    </ul>
    
   
</div>
<address>
    <strong>Pomoc:</strong><br /></br>
    <ul>
        <li>kodowanie/baza pytań   <a href="mailto:mk190373@gmail.com">mk190373@gmail.com</a><br /></li>
        <li>kodowanie/administracja <a href="mailto:plosinski@gmail.com">plosisnki@gmail.com</a></li>
    </ul>
    
</address>
