﻿
@model IEnumerable<IWiemTo.Models.QuestionsGeneralInfo>
@using IWiemTo.Data;
@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000" style="margin-left:10%;width:80%;height:80%">
    <br />
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/banner1.jpg" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    <h3>Wybierz nowy test i sprawdź Swoją wiedzę.</h3>
                    <a class="" href="https://go.microsoft.com/fwlink/?LinkID=525028&clcid=0x409">
                        czytaj więcej
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner2.svg" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    There are powerful new features in Visual Studio for building modern web apps.
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525030&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner3.svg" alt="Microsoft Azure" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Learn how Microsoft's Azure cloud platform allows you to build, deploy, and scale web apps.
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525027&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>

</div>
<br/>
<div class="row">

    <div class="col-md-5 col-md-offset-1 well">
        <p style="font-size:20px;color:red" > <img src="~/images/Question/IWiemTo.png" /> IWiemTo </p>
        <p>
            <strong>IWiemTo | zadania online</strong> to baza pytań  z Biologii i Historii. <br/>
            Jeśli jesteś uczniem szkoły podstawowej lub średniej ucz się i sprawdź Swoją wiedzę z naszym programem.

        </p>

    </div>
    <div class="col-md-5 well" style="margin-left:2%">
        <p style="font-size:20px;color:black"> <img src="~/images/Question/IWiemToStart.png" /> Nowy Quiz</p>
        <p>
            <strong>Wybierz dziedzinę </strong> i rozpocznij. Pamiętaj, musisz być zalogowany <br />
        </p>
        <ul>
            <li> <a asp-area="Biologia" asp-controller="Quiz" asp-action="Index">nowy quiz Biologia</a></li>
            <li> <a asp-area="Historia" asp-controller="Quiz" asp-action="Index">nowy quiz Historia</a></li>
        </ul>
    </div>
    </div>
<div class="row">
    <div class="col-md-5 col-md-offset-1 well">
        <p style="font-size:20px;color:black"> <img src="~/images/Question/IWiemToMatura.png" /> Matura </p>
        <p>
            <strong>Czas na egzamin </strong> zdaj to i zostań bohaterem!  <br />
        </p>
        <ul>
            <li><a asp-area="Biologia" asp-controller="Quiz" asp-action="Index">nowa matura Biologia</a></li>
            <li> <a asp-area="Historia" asp-controller="Quiz" asp-action="Index">nowa matura Historia</a></li>

        </ul>
    </div>
    <div class="col-md-5 well" style="margin-left:2%">
        <p style="font-size:20px;color:black"><i class="fa fa-smile fa-3x" style="color:green"></i> Tablica wyników </p>
        <p>
            <strong>Panel ucznia </strong> zobacz Swoje wyniki  <br />
        </p>
        <ul>
            <li><a asp-area="Biologia" asp-controller="Dashboard" asp-action="Index">   Biologia</a></li>
            <li><a asp-area="Historia" asp-controller="Dashboard" asp-action="Index">Historia</a></li>
        </ul>
    </div>
</div>
@{ await Html.RenderPartialAsync("_ViewQuestionsInfo", Model); }

