﻿@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


@section scripts{
@await Html.PartialAsync("_ValidationScriptsPartial1")
}


@model IWiemTo.Models.QuizQuestionsDetailComments;

<div id="divComments" class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading"> <i class="fa fa-comment fa-fw"></i> Formularz zgłaszania uwag</div>
            <div class="panel-body">




                <input id="QuizQuestionDetailID" name="QuizQuestionDetailID" type="hidden" asp-for="QuizQuestionDetailID" />

                <!-- kategoria -->
                <div class="form-group">
                    <label for="labelQuizMode">Kategoria</label>
                    @Html.DropDownListFor(k => k.CommentsTypeID, (IEnumerable<SelectListItem>)ViewData["Topic"], new { @class = "form-control", id = "CommentsTypeID" })
                </div>

                <!-- komentarz użytkownika -->
                <div class="form-group">
                    <textarea data-val="true" data-val-required="The UserName field is required." class="form-control rounded-0" id="Comments" name="Comments" rows="6" placeholder="Treść uwagi...."></textarea>                   
                    @Html.ValidationMessageFor(m => m.Comments, "", new { @class = "text-danger  " })
                </div>

                <!-- Send button -->
                <button id="btnSendComments" class="btn btn-info btn-block" type="Submit">Wyślij</button>
                <button id="btnCancelComments" class="btn btn-warning btn-block" type="reset" value="Cancel">Anuluj</button>
                <!-- Default form contact -->

            </div>
        </div>
    </div>
</div>

