﻿
@{
    ViewData["Title"] = "Index";
}


<div id="page-wrapper">

    <div class="row">
        <span hidden id="Area">@ViewBag.AreaName</span>
        <span hidden id="UserID">@ViewBag.UserID</span>
        <span hidden id="DateTime" data-daterange="0"></span>
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
            <h2>Tablica wyników <span style="color:darkgreen">@ViewBag.AreaName</span></h2>
        </div>
    </div>
    <br />
    <br />

    <div class="row">

        <div class="col-lg-4 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-comments fa-4x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge" id="CountCustomers">
                                <span style="font-weight:bold">
                                    @ViewBag.CountUserQuiz
                                </span>

                            </div>
                            <div>Liczba wykonanych quizów</div>
                        </div>
                    </div>
                </div>
                <a href="#" class="viewDetails" data-type="customers">
                    <div class="panel-footer">
                        <span class="pull-left">Szczegóły</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>

            </div>
        </div>

        <div class="col-lg-4 col-md-6">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-trophy fa-4x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge" id="CountOrders">
                                <span>
                                    @ViewBag.CountPosiviteUserQuiz
                                </span>
                            </div>
                            <div>Liczba zdanych</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left">Szczegóły</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-lg-4 col-md-6">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-thumbs-down fa-4x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge" id="CountProducts">
                                <span>
                                    @ViewBag.CountNegativeUserQuiz
                                </span>

                            </div>
                            <div>Liczba niezdanych</div>
                        </div>
                    </div>
                </div>
                <a href="#" class="viewDetails" data-type="products">
                    <div class="panel-footer">
                        <span class="pull-left">Szczegóły</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>

    </div>

    <!-- /.row -->
    <div class="row">
        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> PROCENTOWY rozkład wyników
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div id="orderProcentResults"></div>
                </div>
                <!-- /.panel-body -->
                <a href="#">
                    <div class="panel-footer procentResult">
                        <span class="pull-left" id="SetDateTime0" data-daterange="0">Cały okres</span>
                        <span class="pull-left" style="margin-left:2%" id="SetDateTime1" data-daterange="1">Bieżący miesiąc</span>
                        <span class="pull-left" style="margin-left:2%" id="SetDateTime2" data-daterange="2">Dzień</span>
                        <span class="pull-left" style="margin-left:2%" id="SetDateTime3" data-daterange="3">Dziś</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>

            </div>
            <!-- /.panel -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> AKTYWNOŚĆ ucznia
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="row">

                        <div class="col-lg-12">
                            <div id="quizActivity"></div>
                        </div>
                        <!-- /.col-lg-8 (nested) -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-clock-o fa-fw"></i> QUIZ LISTA
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <table id="quizDataTable" cellpadding="0" cellspacing="0" border="0" class="datatable table  table-bordered">
                        <thead class="p-3 mb-2 bg-danger text-black" style="font-stretch:normal">
                            <tr>

                                <th></th>
                                <th>Numer</th>
                                <th>Data</th>
                                <th>Nazwa</th>
                                <th>Tryb</th>
                                <th>Wynik</th>
                                <th>Pkt</th>
                                <th></th>

                            </tr>
                        </thead>


                    </table>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
            <!-- / PANEL KOMENTARZE-->
            <div class="panel panel-default">
                <div class="panel panel-heading"> <i class="fa fa-comment"></i> TWOJE KOMENTARZE</div>
                <div class="panel panel-body">
                    <table id="tableComments" cellpadding="0" cellspacing="0" border="1" class="datatable table  table-bordered">
                        <thead class="ui celled table" style="width:100%">
                            <tr>
                                <th>Data </th>
                                <th>Typ</th>
                                <th>Komentarz</th>
                                <th>Status</th>                               
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bell fa-fw"></i> TOP 5 WYNIKÓW
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body top5Results">
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bell fa-fw"></i> TOP 5 KATEGORII PYTAŃ
                </div>
                <div class="panel-body top5SubCategory">

                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
            <!-- /.panel -->

            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bell fa-fw"></i> TOP 5 WYŚWIETLEŃ PYTAŃ
                </div>
                <div class="panel-body top5Questions">
                    <div id="customerByCountry"></div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->
</div>


<!-- /#page-wrapper -->
<!--Okno MODAL wyświetla szczegóły pytania-->
<div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel"> <span class="glyphicon glyphicon-question-sign"></span> Szczegóły pytania </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div> <!-- MODEL HEADER-->
            <div class="modal-body">
            </div> <!-- MODAL BODY-->
            <div class="modal-footer">

                <button type="button" class="btn btn-primary" data-dismiss="modal">Zamknij</button>
            </div>
        </div>
    </div>
</div>

<!--Okno MODAL wyświetla  zakres dat-->
<div class="modal fade" id="detailModalChoseDate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel"> <span class="glyphicon glyphicon-question-sign"></span> Wybór okresu </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div> <!-- MODEL HEADER-->
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-5 col-md-5">
                        <div class="form-group">
                            <label for="labelQuizMode">Od dnia</label>
                            <div class='input-group date' id='datetimepicker1'>
                                <input type='text' class="form-control" id="dateFrom" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-5 col-md-5">
                        <div class="form-group">
                            <label for="labelQuizMode">Do dnia</label>
                            <div class='input-group date' id='datetimepicker2'>
                                <input type='text' class="form-control" id="dateTo" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- MODAL BODY-->
            <div class="modal-footer">
                <button class="btn btn-success btn-lg" style="margin-left:1%" href="#" type="button" id="paramsShow">Pokaż dane</button>
                <button class="btn btn-primary btn-lg" data-dismiss="modal" type="button" style="margin-left:1%">Zamknij</button>
            </div>

        </div>

    </div>
</div>


<!--okno Modal - wyświetla szczegóły quizu , koleje pytania-->
<div class="modal fade bd-example-modal-lg" id="ModalWindowQuizDetail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel"> <span class="glyphicon glyphicon-subtitles"></span> Szczegóły Quizu </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div> <!-- MODEL HEADER-->
            <!--Body start-->
            <div class="modal-body">
                <table id="datatableQuizDetail" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>QuestionText</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <!--Body stop-->
            <!--Footer start-->
            <div class="modal-footer">
                <button class="btn btn-primary btn-lg" data-dismiss="modal" type="button" style="margin-left:1%">Zamknij</button>
            </div>
            <!--Footer end-->
        </div>
    </div>
</div>


@section Scripts {
    <script type="text/javascript">
        $(function () {
            $('#datetimepicker1, #datetimepicker2').datetimepicker({
                format: 'YYYY-MM-DD',
                useCurrent: true,
                defaultDate: new Date()
            });
        });
    </script>
 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
 
    <script type="text/javascript" src="~/lib/DataTables/datatables.min.js"></script>
    <link type="text/css" href="~/lib/DataTables/datatables.min.css" rel="stylesheet" />
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="https://www.google.com/uds/api/visualization/1.0/40ff64b1d9d6b3213524485974f36cc0/format+en,default+en,ui+en,corechart+en.I.js"></script>
    <link rel="stylesheet" href="~/css/dashboard.css" />
    <script src="~/js/dashboard.js" asp-append-version="true"></script>
    <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>

}


