﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - IwiemTo</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
            </div>
         
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand"> IwiemTo</a></li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-comments fa-1x"></i> Nowy quiz</a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a asp-area="Biologia" asp-controller="Quiz" asp-action="Index"> Biologia</a></li>
                            <li><a asp-area="Historia" asp-controller="Quiz" asp-action="Index"> Historia</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fas fa-user-graduate"></i> Matura</a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a asp-area="Biologia" asp-controller="Quiz" asp-action="Index">Biologia</a></li>
                            <li><a asp-area="Historia" asp-controller="Quiz" asp-action="Index">Historia</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">   
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fas fa-chart-line fa-1x"></i>  Panel ucznia</a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a asp-area="Biologia" asp-controller="Dashboard" asp-action="Index"> Biologia</a></li>
                            <li><a asp-area="Historia" asp-controller="Dashboard" asp-action="Index"> Historia</a></li>
                        </ul>

                    </li>


                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fas fa-database fa-fw"></i> Edytor pytań</a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a asp-area="Biologia" asp-controller="Editor" asp-action="Index"> Biologia</a></li>
                            <li><a asp-area="Historia" asp-controller="Editor" asp-action="Index"> Historia</a></li>
                            <li><a asp-area=""         asp-controller="Tickets" asp-action="Index"> Zgłoszenia</a></li>
                        </ul>
                    </li>
                    <li><a asp-area="" asp-controller="Home" asp-action="About">O programie</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">Kontakt</a></li>


                </ul>
                <partial name="_LoginPartial" />
            </div>
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2019 - IWiemTo wersja 2.004</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
        <script src="~/lib/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
       

        <link rel="stylesheet" href="~/font-awesome-4.7.0/css/font-awesome.min.css">
        <link href="~/fontawesome-free-5.8.2-web/css/all.css" rel="stylesheet" />"
        <script src="~/js/site.js"></script>
        <script src="~/js/bootbox.min.js"></script>
        <script src="~/js/bootbox.locales.min.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)

</body>
</html>
