﻿@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@{

    string quizName = ((Quiz)ViewData["Data"]).QuizName;
    int quizCountPositive = ((QuizResult)@ViewData["Result"]).QuizCountPositive;
    int quizCount = ((QuizResult)@ViewData["Result"]).QuizCount;
}


<div class="row">

    <div class="col-xs-4 col-md-4 " style="margin-top:1%;margin-left:2%">
        <div class="panel panel-success">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-trophy fa-4x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge" id="CountOrders">
                            <span>
                                @ViewBag.CountPosiviteUserQuiz
                            </span>
                        </div>
                        <div>Liczba wykonanych quizów <span style="color: black">@quizCount</span></div>
                        <div style="color:red">Liczba zdanych quziów    <span style="color: black">@quizCountPositive</span></div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">Szczegóły</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>

    <div class="col-xs-7 col-md-7" style="margin-top:1%">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-comments fa-fw"></i> TWOJE OSTATNIE QUIZY
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <table class="table borderless" style="margin-bottom:0px;">
                    <thead>
                        <tr>
                            <th>data</th>
                            <th>ilość pytań</th>
                            <th>wynik [%]</th>
                            <th>opis</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ViewData["LastQuiz"] as IQueryable<V_DashboardQuizSummaryInfo>)
                        {
                            <tr>
                                <td width="35%">@item.QuizCreateDate</td>
                                <td align="center">@string.Format("{0}", @item.QuizQuestionCount)</td>
                                <td align="center">@string.Format("{0}", @item.Procent)</td>
                                <td width="35%">@item.QuizDescribe</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.panel-body -->
        </div>
    </div>

</div>
  
    
    <div id="accordion" class="panel-group" style="margin-left:2%; margin-right:2%">
      
        <div class="panel panel-default">
            <div class="panel-heading">

                <h4 class="panel-success">
                    <a style="text-decoration:none;color:black;font-size:medium" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Szczegóły
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-top: 1px; margin-left:1px;">

                            <div class="row">
                                <div class="col-xs-7 col-md-7">
                                    <div class="panel panel-primary" ; style="margin-left:10px;margin-right:1px;margin-top:5px">
                                        <div class="panel-heading">NOWY QUIZ</div>
                                            <div class="panel-body" style="max-height: 100px;">
                                                <div class="quizInfo">
                                                    <div class="property"><strong>Nazwa quizu:</strong></div><div id="divQuizName" class="value">@quizName</div>
                                                    <div class="property"><strong>Poziom    :</strong></div><div class="value">@ViewBag.QuizData.LevelKnowledgeName</div>
                                                    <div class="property"><strong>Opis quizu:</strong></div><div class="value">@ViewBag.QuizData.QuizDescribe</div>
                                                    <div class="property"><strong>Liczba pytań:</strong></div><div class="value">@ViewBag.QuizData.QuizQuestionCount</div>
                                                </div>                                           
                                            </div>
                                        </div>
                                    </div>
                                
                                <div class="col-xs-2 col-md-2">
                                    <div class="panel panel-primary" ; style="margin-left:10px;margin-right:1px;margin-top:10px">
                                        <div class="panel-heading">TRYB</div>
                                        <div class="panel-body" style="max-height: 100px;">

                                            @{
                                                string tooltip = @ViewBag.QuizData.QuizModeName;
                                                foreach (var item in @ViewBag.QuizData.QuizModeImage)
                                                {

                                                    <img rel="icon" src="@string.Format("{0}{1}", Url.Content("/images/Question/"), @item)" ; style="width: 31%; margin-left:3px" title=@tooltip>
                                                }
                                            }

                                        </div>
                                    </div>
                                </div>


                                @{
                                    int count = @ViewBag.QuizData.QuestionsModeID.Length;
                                    string tekst = (count == 5) ? "WSZYSTKIE RODZAJE PYTAŃ" : "RODZAJE PYTAŃ" + " (" + count.ToString() + ")";

                                }
                                <div class="col-xs-4 col-md-4">
                                    <div class="panel panel-primary" ; style="margin-left:1px;margin-right:10px;margin-top:10px">
                                        <div class="panel-heading">@tekst</div>
                                        <div class="panel-body" style="max-height: 100px;">

                                            @{

                                                foreach (var item in @ViewBag.QuizData.QuestionsModeData)
                                                {
                                                    <img rel="icon" src="@string.Format("{0}{1}", Url.Content("/images/Question/"), @item.Data1)" ; style="width: 9%; margin-left:3px" title="@item.Data2">
                                                }
                                            }

                                        </div>
                                    </div>
                                </div>
                            </div>

                            @{

                                string tekst2 = (@ViewBag.QuizData.SubCategoryID == null) ? "WSZYSTKIE KATEGORIE" : "WYBRANE KATEGORIE" + " (" + @ViewBag.QuizData.SubCategoryID.Length + ")";

                            }
                            <div class="panel panel-primary" style="margin-left: 10px; margin-right: 10px; margin-top:5px">
                                <div class="panel-heading">@tekst2</div>
                                <div id="chooseCategoriesPanel" class="panel-body" style="max-height: 100px;">
                                    @{

                                        foreach (var item in @ViewBag.QuizData.SubCategoryData)
                                        {
                                            <img rel="icon" src="@string.Format("{0}{1}", Url.Content("/images/Question/"), @item.Data1)" ; style="width: 4%; margin-left:3px" title="@item.Data2">

                                        }
                                    }

                                </div>
                            </div>


                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-success">
                    <a style="text-decoration:none;color:black;font-size:medium" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                        Wynik
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse in">
                <div class="panel-body">
                    <p id="Wynik"> Brak wyniku. Quiz w trakcie rozwiązywania... </p>
                </div>
            </div>
        </div>
    </div>

    <div id="modal-container" class="modal fade hidden-print" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">

            </div>
        </div>
    </div>


