﻿

td.details-control {  
    height: 3%;
    width: 3%;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;    
}

.colQuestionText {
    background-color: #f0ffff;
    border-radius: 12px;   
    text-align:justify;
    border: 1px solid black;
    padding-left:2px;
    padding-top:5px;
}
.colSubQuestion {
    background-color: #f0ffff;
    border-radius: 12px;
    text-align: justify;
    border: 1px solid lightgray;
    padding-left: 2px;
    padding-top: 5px;
}
#datatableQuizDetail thead {
    display: none;
}
