﻿
 img.student {
    content: url('../images/Question/student.png');
    width: 15%;
    height: 15%;
    float:left;
    margin-left:10px
}

 img.powodzenia {
     content: url('../images/Question/like.png');
     width: 1.5%;
     height: 1.5%;
     margin-left:10px
 }

