﻿

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.ShowCorectAnswer {
    color:darkslategray;
    text-decoration: none;
    font-size: 0.8em;
    font-weight: bold;
    margin-left: 5%;

}

.mycheckboxes_labels {
    font-weight: normal;
    font-size: 2em;
}

.mytextarea {
    /* box-sizing: padding-box; */
    overflow: hidden;
    /* demo only: */
    padding: 10px;
    width: 250px;
    font-size: .8rem;
    letter-spacing: 1px;
    margin: 50px auto;
    display: block;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
    line-height: 1.5;
}
.mytextarea1 {
    padding: 10px;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
    font-size: .8rem;
    letter-spacing: 1px;
}
#spinner {
    display: none;
    width: 350px;
    height: 150px;
    position: fixed;
    top: 50%;
    left: 50%;
    background: url('../images/ajax-loader.gif') no-repeat center #F1F1F3;
    text-align: center;
    padding: 10px;
    font: bold 20px Tahoma, Geneva, sans-serif;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-left: -50px;
    margin-top: -50px;
    z-index: 2;
    overflow: auto;
  
    color: navy;
    
}

.checkboxeditor {
    -webkit-appearance: none;
    width: 30px;
    height: 30px;
    background: white;
    border-radius: 5px;
    border: 2px solid #555;
}
.submit_btn1 {
    font-family: sans-serif;
    padding: 1rem 2rem;
    background: #70B81B;
    border:solid;
    border-radius: 0.2rem;
    color: #fff;
    font-size: 1.5rem;
    font-weight:normal;
    transition: 0.3s background-color;
}

.form-inline {
    padding: 10px;
}

  .form-inline > * {
        margin: 10px 10px !important;
    }

label {
    font-weight: normal !important;
}

#mutiselectButton {
    text-align: left;
    background: linear-gradient(to bottom, #fff 0%, #fff 100%);
    color: #555;
    border: 1px solid #ccc;
    text-shadow: 0 0 0 #fff;
    box-shadow: none;
}

.myDiv_NewQuiz {
    max-height: 550px;
    border-style: solid;
    border-width:thin;
    display: inline-block;
    border-radius: 25px;
    padding: 10px;
   border-color:darkblue;
  

}

.myDiv2_NewQuiz {
    max-height: 300px;
    display: inline-block;
    border-radius: 20px;
    padding: 10px;
}

.container-fluid .jumbotron {
    background-color:cornflowerblue;
    text-align: center;
    text-decoration-color: azure;
    border-style: solid;
    border-color: darkblue;
    border-width: thin;
    border-radius: 5px;
}

img[title]:hover:after {
    background-color: royalblue;
    border-radius: 20px;
    font-size: 1.5rem;
    font-weight: normal;
}
.table.borderless td, table.borderless th, .borderless tr {
    border: none;
    border-top:none;
    padding:0px;
}
div.quizInfo .property {
    width: 20%;
    display: inline-block;
    box-sizing: border-box;
    text-align: left;
}

div.quizInfo .value {
    text-align: left;
    padding-left: 4px;
    width: 80%;
    display: inline-block;
    box-sizing: border-box;
}

th {
    background-color: blue;
    color: white;
} 


