﻿@model IWiemTo.Models.Quiz

@{
    ViewData["Title"] = "Nowy QUIZ";


}


<div id="page-wrapper">

    <div class="row">
        <div class="col-xs-12 col-xs-offset-1  col-md-12 col-md-offset-1 text-left">
            <h2>Nowy Quiz <span style="color:darkgreen">@ViewBag.AreaName</span></h2>
            <span hidden id="UserName">@ViewBag.UserName</span>
        </div>
    </div>

    <div class="row">

        <div class="col-xs-11 col-xs-offset-1 col-md-11 col-md-offset-1">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div>
                            <h2><img class="student" /><b> <span style="color:black">Witaj !</span> </b> </h2>
                        </div>
                        <p class="lead text-white">
                            Cieszę się, że znów jesteś z nami.<br />
                            Czekaja na Ciebie pytania, dzięki którym sprawdzisz swoja wiedzę.
                        </p>
                        <hr class="bg-warning my-4">
                        <p style="color:white">
                            Ustaw poniższe parametery i rozpocznij test... Powodzenia  <img class="powodzenia" />
                        </p>

                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-xs-11 col-xs-offset-1 col-md-11 col-md-offset-1 ">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-book"></i> Parametery nowego quizu
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">

                    <form asp-controller="Quiz" asp-action="NewQuiz" method="post">

                        <div class="row">

                            <div class="col-xs-3 col-md-3">
                                <div class="form-group">
                                    <label for="labelQuizMode">Data quizu</label>
                                    <div class='input-group date' id='datetimepicker1'>
                                        <input type='text' class="form-control" name="QuizCreateDate" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-8 col-md-8">
                                <div class="form-group" >
                                    <label for="labelQuizDescribe">Notatka/etykieta quizu</label>
                                    <textarea id="QuizDescribe" name="QuizDescribe" placeholder="Podaj temat quizu lub jego etykietę" class="form-control" cols="10" rows="1"></textarea>                                   
                                    
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-xs-3 col-md-3">
                                <div class="form-group">
                                    <label for="labelQuizMode">Poziom</label>
                                    @Html.DropDownListFor(k => k.LevelKnowledgeID, (IEnumerable<SelectListItem>)ViewData["Level"], new { @class = "form-control" })
                                    @Html.HiddenFor(k => k.LevelKnowledgeName, new { @id = "LevelKnowledgeName" })
                                </div>
                            </div>

                            <div class="col-xs-3 col-md-3">
                                <div class="form-group">
                                    <label for="labelQuizMode">Tryb nauki  </label>
                                    @Html.DropDownListFor(k => k.QuizModeID, (IEnumerable<SelectListItem>)ViewData["QuizModeList"], new { @class = "form-control" })
                                    @Html.HiddenFor(k => k.QuizModeName, new { @id = "quizModeName" })
                                </div>
                            </div>

                            <div class="col-xs-3 col-md-3">
                                <div class="form-group">
                                    <label for="labelQuestionsMode">Rodzaj pytań</label>
                                    @Html.DropDownListFor(k => k.QuestionsModeID, (IEnumerable<SelectListItem>)ViewData["QuestionsMode"], new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="col-xs-2 col-md-2">
                                <div class="form-group">
                                    <label for="labelMaxQuestionCount">Ilość pytań</label>
                                    <input type="number" class="form-control" value="3" min="1" max="300" id="quizMaxQuestionCount" placeholder="Podaj max ilość pytań" name="QuizQuestionCount">
                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-11 col-md-11">
                                <div class="form-group">
                                    <label for="labelZagdanienia">Zagadnienia</label>
                                    @Html.ListBoxFor(m => m.SubCategoryID, (IEnumerable<SelectListItem>)ViewData["Subjects"], new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <p>dodatkowy filtr</p>
                        <hr />

                        <div class="row">
                            <div class="col-xs-10 col-md-10">
                                <div class="form-group">
                                    <label for="labelQuestionNumbers">Numery pytań lub fragment treści pytania</label>
                                    <textarea placeholder="wprowadź numery pytań  np. 1,21,121 lub fragment treści pytania np. serce" id="QuestionNumbers" asp-for="QuestionNumbers" class="form-control" rows="1"></textarea>                                   
                                </div>
                            </div>
                        </div>
                        <input hidden="hidden" type="text" readonly="readonly" id="quizName" name="QuizName" size="100">
                        <button class="btn btn-primary btn-lg" style="float:right" href="#" type="submit">   S T A R T    </button>

                    </form>
                </div>

            </div>

        </div>

    </div>
    <!-- /.row -->
</div>


@section Scripts { 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css" type="text/css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/js/quiz.js" asp-append-version="true"></script>
    <link rel="stylesheet" href="~/css/quiz.css" />
}



