﻿@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">Wynik-szczegóły:</h4>
</div>

<div id="Test" class="col-lg-12 col-md-12 col-xs-12 col-sm-12 text-center" ; style="background-color:darkgray;height:100%;margin-left:1px;margin-right:1px">
    <p style="font-size:10rem;font-weight:bold"> @ViewBag.scoreProcent%</p>
</div>


<hr />  
<br/>
<br/>
<br/>
<br/>

    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center" ; style="background-color:lightgreen;height:100%;">
            <p style="font-size:1.7rem;font-weight:bold;margin-top:6%"> Pozytywne</p>
            <span>
                <i class="far fa-check-circle fa-4x"></i>             
            </span>           
            <br />
            <p style="font-size:8rem;font-weight:bold;margin-top:1%"> @ViewBag.countCorectAns</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center" ; style="background-color:lightcoral;height:100%;">
            <p style="font-size:1.7rem;font-weight:bold;margin-top:6%"> Negatywne</p>
            <span><i class="far fa-times-circle fa-4x"></i></span>            
            <br />
            <p style="font-size:8rem;font-weight:bold;margin-top:1%"> @ViewBag.countNotCorectAns</p>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>



    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
    </div>

