﻿@model IQueryable<IWiemTo.Models.Questions>
@using Microsoft.AspNetCore.Mvc.ViewFeatures;

@{
    ViewData["Title"] = "ShowQuestions";
}

@{
    int questNr = 1; int choiceNr = 0; int questID = 1;
    int questType = 1;

}
<div id="spinner">
    Analizuje odpowiedzi...
</div>
<link rel="stylesheet" href="~/css/site.css" type="text/css" />


<div class="container">
    <div class="row">
        <div class="col-xs-10   col-md-10  text-left">
            <h2>Nowy Quiz <span id="Area" style="color:darkgreen">@ViewBag.AreaName</span></h2>

        </div>
        <div class="col-xs-2 col-sm-2 col-md-2" style="margin-top: 2%;text-align:right">
            <div id="watch" style="font-weight:bold; color:black"></div>
        </div>
    </div>
    <div class="row">
        <div class="userConnected" style="border:1px solid; border-radius: 10px; margin-top: 1%; margin-left:2%;margin-right:2%; color:black">


            @{
                await Html.RenderPartialAsync("HeaderInfo",
                new ViewDataDictionary(ViewData) {
                        { "Data"    , ViewBag.QuizData   },
                        { "Result"  , ViewBag.QuizResult },
                        { "LastQuiz", ViewBag.LastQuizes }
                }
                );

            }

            <br />


        </div>



        <div class="Choices" style="margin-left: 2%;">
            <br />

            <h3> <span class="label label-primary">PYTANIA</span> </h3>

        </div>



        @foreach (var item in Model)
        {
            
            questID = @item.QuestionID;
            questType = @item.QuestionTypeID;
            var imageName = @item.QuestionsImageRel.FirstOrDefault().Image;

            <div class="BlockQ" style="border: 1.5px solid #bdbdbd;   width: 90%; border-radius: 4px; margin-top: 20px; margin-left:50px; background-color:#f0ffff; padding: 8px;">
                <div class="Question" style="padding: 1%">


                    <span class="label label-warning"> @string.Format("{0} {1}.", "Q", questNr)</span>
                    <span id="@string.Format("Q_ID{0}",questNr)" style="display:none" data-quizdate="@ViewData["DateCreate"]" data-userid="@ViewData["UserID"]" data-quizid="@ViewData["QuizID"]" data-questionpoints="@item.QuestionPoints">@item.QuestionID</span>
                    <span id="@string.Format("Q_Type_ID{0}",questNr)" style="display:none">@item.QuestionTypeID</span>
                 <br />
                    <br/>
                    @if (item.QuestionText.ToLower().Equals("img") == false)
                    {

                        <p class="text-justify"  id="@string.Format("{0}{1}", "Pytanie", questNr)">@Html.Raw(@item.QuestionText)</p>

                    }
                    else

                    {
                        <img src="~/images/Question/Untitled.png" alt="" id="@string.Format("{0}{1}", "Pytanie", questNr)" />

                    }


                    @if (item.QuestionsImageRel.Count != 0 && imageName != null)
                    {
                        <div class="Image" style="margin-left:10%;">
                            <img style="background-color:red" src="~/images/Question/Image/@item.QuestionsImageRel.FirstOrDefault().Image" alt="" />
                        </div>
                    }
                </div>
                <div class="Choices" style="margin-left: 5%; margin-right: 5%">
                    @foreach (var choice in item.QuestionsChoiceRel)
                    {

                        <span id="@string.Format("Span_Quest_choice{0}{1}",questNr,choiceNr)" style="display:none">@choice.QuestionChoiceID</span>

                        if (questType == 1)
                        {
                        <div style="margin-left:5%">
                            <label class="radio-inline">
                                <input type="radio" name="@string.Format("Quest_{0}",questNr)" id="@string.Format("Quest_choice{0}{1}",questNr,choiceNr)" value="@choice.ChoiceText" />@choice.ChoiceText
                            </label><br />
                        </div>
                           
                        }

                        if (questType == 2)
                        {
                        <div  style="margin-left:5%">
                            <label>
                                <input style="font-size: 3rem;font:medium  Tahoma, Geneva, sans-serif" name="@string.Format("Quest_{0}",questNr)" id="@string.Format("Quest_choice{0}{1}",questNr,choiceNr)" type="checkbox" value="@choice.ChoiceText" /> @choice.ChoiceText
                            </label><br />
                        </div>
                           

                        }

                        if (questType == 3)
                        {

                            <div id="@string.Format("Div_textarea{0}{1}",questNr,choiceNr)" class="form-group purple-border">
                                <label style="font-size: 1.4rem; font-family:helvetica,courier,arial" for="exampleFormControlTextarea4">@Html.Raw(@choice.ChoiceText) </label>
                                <textarea placeholder=" wprowadź odpowiedź ..." class="form-control" id="@string.Format("Quest_choice{0}{1}",questNr,choiceNr)" name="@string.Format("Quest_{0}",questNr)" cols="30" rows="2"></textarea>

                            </div>
                        }

                        if (questType == 4)
                        {
                            <div id="@string.Format("Div_textarea{0}{1}",questNr,choiceNr)" class="form-group">
                                <label style="font-size: 1.4rem; font-family:helvetica,courier,arial"> @Html.Raw(@choice.ChoiceText)</label>
                                <textarea class="form-control" placeholder=" wprowadź odpowiedź ..." id="@string.Format("Quest_choice{0}{1}",questNr,choiceNr)" name="@string.Format("Quest_{0}",questNr)" cols="30" rows="2"></textarea>

                            </div>
                        }

                        if (questType == 5)
                        {
                            <div id="@string.Format("Div_textarea{0}{1}",questNr,choiceNr)" class="form-group purple-border">
                                <label for="exampleFormControlTextarea4">
                                </label>@Html.Raw(@choice.ChoiceText)
                                <select class="form-control" id="@string.Format("Quest_choice{0}{1}",questNr,choiceNr)" name="@string.Format("Quest_{0}",questNr)">
                                    <option value="Prawda">Prawda</option>
                                    <option value="Fałsz">Fałsz</option>
                                </select>

                            </div>
                        }


                        choiceNr++;

                    }
                    <div id="@string.Format("{0}{1}{2}", "Ans","Q", questNr)">
                    </div>
                    <div id="Odp" style="margin-left: 70%;">

                    </div>

                </div> <!--END Choices-->
            </div>
            questNr++;
            choiceNr = 0;
        }


        <button type="button" id="SubmitQuiz" class="btn btn-info btn-lg" style="margin-top: 10px;" data-questionsCount="@questNr">
            <span class="glyphicon glyphicon-ok"></span>  Submit Quiz
        </button>

    </div>
</div>
<!-- Okno modalne ze szczegółami wyniku Quizu -->
<div id="myModalQuizResultDetail" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">

        </div>
    </div>
</div>