﻿@model IWiemTo.Models.Quiz

@{
    ViewData["Title"] = "Nowy QUIZ";
    int userID = @ViewBag.UserID;
    string userName = @ViewBag.UserName;
}

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 "><span class="label label-info"></span></div>
    </div>
    <br />
    <br />

    <form asp-controller="Quiz" asp-action="NewQuiz" method="post">

        @Html.Hidden("UserId", @userID);
        @Html.Hidden("UserName", @userName, new { @id = "UserName" });
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <div class="myDiv_NewQuiz">

                <label class="sr-only" for="labelCreatedate">Start</label>
                <div class="form-group">
                    <div class='input-group date' id='datetimepicker1'>
                        <input data-format="yyyy-MM-dd hh:mm:ss" type='text' class="form-control" name="QuizCreateDate" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>


                <div class="form-group">
                    <label for="labelQuizMode">Tryb nauki  </label>
                    @Html.DropDownListFor(k => k.QuizModeID, (IEnumerable<SelectListItem>)ViewData["QuizModeList"], new { @class = "form-control" })
                    @Html.HiddenFor(k => k.QuizModeName, new { @id = "quizModeName" })
                    @Html.Hidden("dupa", "Mama");
                </div>

                <div class="form-group">
                    <label for="labelQuestionsMode">Rodzaj pytań</label>
                    @Html.DropDownListFor(k => k.QuestionsModeID, (IEnumerable<SelectListItem>)ViewData["QuestionsMode"], new { @class = "form-control" })
                </div>

                <div class="form-group">
                    <label for="labelMaxQuestionCount">Zagadnienia</label>
                    @Html.ListBoxFor(m => m.SubCategoryID, (IEnumerable<SelectListItem>)ViewData["Subjects"], new { @class = "form-control" })
                </div>

                <div class="form-group">
                    <label for="labelMaxQuestionCount">Ilość pytań</label>
                    <input type="number" class="form-control" value="3" min="1" max="20" id="quizMaxQuestionCount" placeholder="Podaj max ilość pytań" name="QuizQuestionCount">
                </div>
                <hr />
                <div class="form-group">
                    <label for="labelQuizDescribe">Notatka/etykieta quizu</label>
                    <textarea id="quizDescribe" name="QuizDescribe" placeholder="Podaj temat quizu lub jego etykietę" class="form-control" cols="10" rows="2"></textarea>
                </div>
                <br />


            </div>
        </div>
        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">

            <div class="jumbotron jumbotron-fluid  text-white">
                <img src="@string.Format("{0}{1}", Url.Content("/images/Question/"), "student.png")" style="width: 15%" />
                <h1 class="display-3">Witaj, maturzysto!</h1>

                <p>...</p>

                <p class="lead" style="color:white">Cieszę się, że znów jesteś z nami! Już wkrótce najważnieszy egzamin. Przygotowałem dla Ciebie zbiór pytań, które pozwola Ci się dobrze przygotować do matury.</p>
                <hr class="bg-warning my-4">
                <p style="color:darkgrey">Wybierz: tryb rodzaj pytań  i zagadnienia i rozpocznij naukę... powodzenia      <img src="@string.Format("{0}{1}", Url.Content("/images/Question/"), "like.png")" style="width: 3%" /></p>
                <p name="QuizName"><button class="btn btn-primary btn-lg" href="#" type="submit">   S T A R T    </button></p>
            </div>

            <input hidden="hidden" type="text" readonly="readonly" id="quizName" name="QuizName" size="100">


        </div>
       
    </form>
</div>


@section Scripts {

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css" type="text/css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/js/quiz.js" asp-append-version="true"></script>
}



