﻿@model IWiemTo.Models.Questions
@using System.Collections
@{
    ViewData["Title"] = "Nowe pytanie";


}

<h3> <span class="label label-primary"> @ViewData["questionType"] </span> </h3>
<link rel="stylesheet" href="~/css/site.css" type="text/css" />


<div class="container">
    <form asp-action="NewQuestion" asp-controller="Editor" method="post">
        @Html.HiddenFor(m => m.QuestionTypeID, @ViewData["questionTypeID"])
        @Html.HiddenFor(model => model.QuestionCategory, new { })
        <div class="row">
            <br />
            <div class="col-md-12">
                <label for="labelScore">Treść pytania</label>
                <textarea class="form-control" id="QuestionText" name="QuestionText" rows="4" placeholder="Wprowadź treść pytania"></textarea>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-6">
                <label for="labelScore">Kategoria</label>
                @Html.DropDownListFor(m => m.SelectedCategory, (IEnumerable<SelectListItem>)ViewData["Category"], new { @class = "form-control" })
            </div>
            <div class="col-md-6">
                <label for="labelScore">Podkategoria</label>
                @Html.DropDownListFor(m => m.SelectedSubCategory, (IEnumerable<SelectListItem>)ViewData["SubCategory"], new { @class = "form-control" })
            </div>
        </div>

        <br />
        <div class="row">
            <div class="col-lg-1 col-md-1 col-xs-1 col-sm-1">
                <label for="labelScore">Punktacja</label>
                <input type="number" class="form-control bfh-number" value="1" min="1" max="100" name="QuestionPoints" placeholder="Wprowadź max ilość pkt. za pytanie">
            </div>
            <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
                <label for="labelScore">Źródło pytania</label>
                <textarea class="form-control" id="QuestionSource" name="QuestionSource" rows="1" placeholder="Wprowadź nazwę źródła pytania"></textarea>
            </div>
            <div class="col-lg-5 col-md-5 col-xs-5 col-sm-5">
                <label>Rodzaj  pytania</label>
                @Html.DropDownListFor( m=>m.QuestionExtended,(IEnumerable<SelectListItem>)ViewData["TypeContentOfQuestion"], new { @class = "form-control" })
            </div>
        </div>

        <br />
        <div class="row">
            <div class="col-md-12">
                <input type="file" id="imageLoad" name="QuestionsImageRel[0].Image" size="60">
            </div>
        </div>

        <br>
     
        <div class="row">
            <hr>
            <div class="col-md-1 text-left">
                <div class="Choices">
                    <h4> <span class="label label-default"> Warianty odpowiedzi  </span> </h4>
                </div>
            </div>
            <div class="col-md-9 text-left">
                <div class="Choices">
                    
                </div>
            </div>
            <div class="col-md-2 text-left">
                <div class="Choices">
                    <h4> <span class="label label-default">Zaznacz poprawny wariant </span> </h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1 text-center">
                <label for="labelScore"> A </label>
            </div>
            <div class="col-md-10">
                <textarea class="form-control" id="Choice1" name="QuestionsChoiceRel[0].ChoiceText" cols="30" rows="1" placeholder="wprowadź treść odpowiedź"></textarea>
            </div>
            <div class="col-md-1 text-center">

                <input data-val-required="The isNewlyEnrolled field is required." id="checkbox0" name="QuestionsChoiceRel[0].IsCorect" type="checkbox" value="false" />
                
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-1 text-center">
                <label> B </label>
            </div>
            <div class="col-md-10">
                <textarea class="form-control" id="Choice1" name="QuestionsChoiceRel[1].ChoiceText" cols="30" rows="1" placeholder="wprowadź treść odpowiedzi"></textarea>
            </div>
            <div class="col-md-1  text-center">
                <input data-val-required="The isNewlyEnrolled field is required." id="checkbox1" name="QuestionsChoiceRel[1].IsCorect" type="checkbox" value="false" />
                
            </div>
        </div>

        <br />
        <div class="row">
            <div class="col-md-1 text-center">
                <label> C </label>
            </div>
            <div class="col-md-10">
                <textarea class="form-control" id="Choice1" name="QuestionsChoiceRel[2].ChoiceText" cols="30" rows="1" placeholder="wprowadź treść odpowiedzi"></textarea>
            </div>
            <div class="col-md-1 text-center">
                <input data-val-required="The isNewlyEnrolled field is required." id="checkbox2" name="QuestionsChoiceRel[2].IsCorect" type="checkbox" value="false" />
            
            </div>
        </div>


        <br />
        <div class="row">
            <div class="col-md-1 text-center">
                <label> D </label>
            </div>
            <div class="col-md-10">
                <textarea class="form-control" id="Choice1" name="QuestionsChoiceRel[3].ChoiceText" cols="30" rows="1" placeholder="wprowadź treść odpowiedzi"></textarea>
            </div>
            <div class="col-md-1 text-center">
                <input data-val-required="The isNewlyEnrolled field is required." id="checkbox3" name="QuestionsChoiceRel[3].IsCorect" type="checkbox" value="false" />
          
            </div>
        </div>


        <br />
        <div class="row">
            <div class="col-md-1 text-center">
                <label>E </label>
            </div>
            <div class="col-md-10">
                <textarea class="form-control" id="Choice1" name="QuestionsChoiceRel[4].ChoiceText" cols="30" rows="1" placeholder="wprowadź treść odpowiedzi"></textarea>
            </div>
            <div class="col-md-1 text-center">
                <input data-val-required="The isNewlyEnrolled field is required." id="checkbox4" name="QuestionsChoiceRel[4].IsCorect" type="checkbox" value="false" />
               
            </div>
        </div>

        <br />
        <div>
            <button type="submit" class="submit_btn1"> Dodaj </button>
        </div>
    </form>
</div>

